@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@font-face {
  font-family: "CharlevoixPro";
  src: url("../public/fonts/CharlevoixPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CharlevoixPro";
  src: url("../public/fonts/CharlevoixPro-Medium.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CharlevoixPro";
  src: url("../public/fonts/CharlevoixPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* 
  TODO: Ask in interview, this seems to be the correct font for what the designs show, but it's not the same weight.
  font-weight: 300; 
  */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.foodblock-background {
  background: linear-gradient(0deg, #fef9f7 70%, #ffffff 0%);
}

.foodblock-shadow {
  box-shadow: 0px 14px 37px 19px rgba(126, 126, 126, 0.08);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
